body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    /* background-color: #A8B8D0; */
    background-color: #D3D3D3;
    color: #333333;
}

.topnav {
    overflow: hidden;
    background-color: #333333;
    padding: 0px 200px;
    margin: auto;
    text-align: center;
}

.topnav a.title {
    float: left;
    font-size: 24px;
    padding: 14px 16px;
    color: #FAFAFA;
}

.topnav a {
    float: right;
    color: #FAFAFA;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    margin: auto;
}

.topnav a:hover {
    background-color: #222222;
}

.about {
    display: flex;
    flex-direction: row;
    margin: 100px 150px;    
}

.profile {
    flex-direction: column;
    text-align: center;
    padding: 50px;
}

.profile img.pfp {
    border-radius: 50%;
    border-style: solid;
    border-color: #555555;
    border-width: 5px;
}

.socials {
    display: flex;
    list-style-type: none;
    padding-left: 50px;
    padding-right: 50px;
}

.socials li {
    display: inline-block;
    margin: auto;
}

.socials li a {
    display: inline-block;
    color: #D3D3D3;
    font-size: 24px;
    line-height: 48px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #333333;
    outline: none;
    padding: auto;
}

.socials li a:hover {
    background-color: #222222;
}

.bio {
    float: right;
    margin: 50px;
    padding: 50px 0px 0px 0px;
    font-size: large;
    line-height: 30px;
}

.projects {
    margin: auto;
    max-width: fit-content;
}